<footer class="footer_pixel">

	<p class="subscribe_pixel"><a class="icon-rss" target="_blank" href="{{@blog.url}}/rss/">

	</a></p>

	<div class="footertext_pixel">

		<p>All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</p>

	</div>

	<div class="footertext_pixel">

		<p>Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
		<p>Theme: <a class="icon-github-circled" href="https://github.com/Skepton/Pixelpusher"></a></p>

	</div>

</footer>