@font-face {

	font-family: 'fontello';
	src: url('../fonts/fontello.eot?55521422');
	src: url('../fonts/fontello.eot?55521422#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff?55521422') format('woff'),
		url('../fonts/fontello.ttf?55521422') format('ttf'),
		url('../fonts/fontello.svg?55521422#fontello') format('svg');
	font-weight: normal;
	font-style: normal;

}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
 
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

}

.icon-twitter:before { content: '\e802'; }
.icon-facebook:before { content: '\e800'; }
.icon-gplus:before { content: '\e801'; }
.icon-clock:before { content: '\e803'; margin-right: 0.5em}
.icon-github-circled:before { content: '\e806'; }
.icon-rss:before { content: '\e804'; }
.icon-tag:before { content: '\e805'; }

body { background-color: #f0f0f0; font-family:'Open Sans',sans-serif;}

a{color:#2c3e50;}
a:hover{color:#1abc9c;}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

/***************/
/*MAIN WRAPPERS*/
/***************/

.wrapper_pixel {

	width:100%;
	height:100%;
	max-width: 60em;
	margin: 0 auto;

}

.header_pixel{

	position: relative;

	width:100%;

	min-height:350px;
	max-height:350px;

	padding:3em;
	overflow: hidden;

	background-color: #2c3e50;

}

.header_pixel.small{

	position: fixed;
	top:0px;

	z-index: 100;

	max-width: 60em;

	min-height: 80px;
	max-height: 180px;

	border-bottom: 3px solid rgba(255,255,255,0.8);

	background-color: #e0e0e0;

}

.header_pixel.small img{

	opacity: 0.9;

}

.header_pixel.small a{

	color:#2c3e50;

}

.header_pixel.small .blogtitle_pixel{

	margin-top: -0.5em;
	margin-bottom: 0em;
	padding-bottom: 0.5;

}

.header_pixel.small .menu_list{

	display: none;
	
}

.main_pixel{

	width:100%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;

	padding: 2em;

}

.footer_pixel{

	width:100%;
	padding:1em;

	background-color: #3d3d3d;

}

/************/
/*PAGINATION*/
/************/

.pagination_pixel nav{

	margin:0 auto;
	margin-top: 0em;

	text-align: center;

}

.pagination_pixel .page-number{

	background-color: #ffffff;

	padding:0.5em;
	color:#1abc9c;

	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;

}

.pagination_pixel .newer-posts,.older-posts{

	background-color: #ffffff;

	padding:0.5em;
	color:#1abc9c;

	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;

}

.pagination_pixel .newer-posts:hover,.older-posts:hover{

	background-color: #f5f5f5;
	color:#3d3d3d;
}

/*******/
/*FONTS*/
/*******/

h1,h2,h3,h4,h5,h6{

	font-family:'Exo 2',sans-serif;
	font-weight: 300;

	color: #5f5f5f;

}

a{

	text-decoration: none;

}

h1 a{

	font-weight: 200;

}

/********/
/*HEADER*/
/********/

.header_pixel img{

	position: absolute;
	top:0px;
	left: 0px;
	z-index: 1;

	opacity: 0.5;

	width:100%;
	min-height: 400px;

	-webkit-transition: opacity ease 0.3s;
	-moz-transition: opacity ease 0.3s;
	-o-transition: opacity ease 0.3s;
	transition: opacity ease 0.3s;

}

.header_pixel:hover img{

	opacity:0.9;

}

.menu_list{

	position: absolute;
	top: 0em;
	right:1em;
	z-index: 10;

	padding: 0.5em;

}

.menu_item{

	padding: 0.5em ;

	color: #1abc9c;
	text-align: right;
	font-weight: 300;

}

.menu_item:hover{

	color: #f0f0f0;

	background-color: rgba(0,0,0,0.4);

}

.blogdescription_pixel{

	width: 100%;

	text-align: center;

}

.blogtitle_pixel a{

	display: block;

	width: 100%;

	position: relative;
	z-index: 10;
	opacity: 0.8;

	text-align: center;
	color:#f5f5f5;
	font-size: 3em;
	font-weight: 200;
	padding:5px;

	background-color: rgba(0,0,0,0.0);

}

.blogdescription_pixel a{

	position: relative;
	z-index: 10;
	opacity: 0.8;

	font-size: 0.9em;
	color:#ffffff;

	padding:5px;

	background-color: rgba(0,0,0,0.0);

}

/********/
/*FOOTER*/
/********/

.footer_pixel{

	max-width: 60em;

	position: relative;
	bottom: 0px;

	background-color: #fafafa;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;

}

.footer_pixel a{

	color:#1abc9c;
	margin:0px;

	font-size: 0.9em;

	text-align: center;

}

.footer_pixel p{

	color:#e0e0e0;
	margin:0px;

	font-size: 0.8em;

	text-align: center;

}

.postfooter_pixel address{

	color:#afafaf;

}

.subscribe_pixel a{

	padding:0.8em 0.9em 0.8em 1em;

}

.subscribe_pixel a:hover{

	-webkit-border-radius: 3em; 
	-moz-border-radius: 3em; 
	border-radius: 3em; 

	border: 1px solid #e0e0e0;

	background-color: #f5f5f5;

}

.subscribe_pixel{

	margin-bottom: 1em !important;
}

/************/
/*INDEX POST*/
/************/

.article_pixel{

	display: inline-block;
	opacity: 1;

	position: relative;
	z-index: 10;

	width:100%;

	max-height:190px;

	background-color: #ffffff;
	margin-bottom: 2em;
	padding-bottom: 1em;

	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;

}

.post .article_pixel .postheader_pixel{

	position: relative;

	display: table;

	width: 90%;
	margin: 0 auto;

	padding-bottom: 0.2em;

}

.article_pixel .postheader_pixel h1{

	margin-top: 0em;

}

.animate{

	-webkit-transition: margin ease 0.3s;
	-moz-transition: margin ease 0.3s;
	-o-transition: margin ease 0.3s;
	transition: margin ease 0.5s;

}

.hide{

	opacity:0;

	margin-top:-1em;

}

.post .article_pixel{

	padding-top: 2em;

	padding-bottom: 0em;

}

.image_container{

	float:left;
	overflow: hidden;

	max-height:190px;
	width: 30%;

	border-right: 1px solid #e0e0e0;

	background-color: #2c3e50;

}

.image_container img{

	opacity: 0.6;

	max-height:190px;

	-webkit-transition: opacity ease 0.3s;
	-moz-transition: opacity ease 0.3s;
	-o-transition: opacity ease 0.3s;
	transition: opacity ease 0.3s;

}

.image_container:hover img{

	opacity: 1;

}

.post_container{

	position: relative;

	float:left;

	overflow: hidden;

	padding: 1.5em 1em 1em 1em;
	margin-bottom: 0.5em;

	width: 100%;
	max-height:180px;

}

.post_container.small{

	position: relative;

	width: 70%;

}

time{

	position: absolute;
	right:1em;
	top:0.5em;

	padding-left:1em;

	color:#d0d0d0;
	font-size: 0.8em;

}

time span{

	color:#e0e0e0;

}

.post time{

	right:auto;
	top:0.2em;
	left: 0em;


}

.posttitle_pixel a{

	color:#1abc9c;
	font-weight:300;

	-webkit-transition: color ease 0.3s;
	-moz-transition: color ease 0.3s;
	-o-transition: color ease 0.3s;
	transition: color ease 0.3s;

}

.main_pixel.post{

	position: relative;
	z-index: 10;

	margin-top: -4em;
}

.posttitle_pixel a:hover{

	color:#3d3d3d;

}

.post .posttitle_pixel{

	width:100%;
	margin: 0 auto;

	margin-bottom:0.1em;
	margin-top:0.3em !important;

	text-align: left;

}

#trampezium{

	position: absolute;
	left: 0em;
	opacity: 0.8;

	z-index: 1;

	width:100%;
	height:30px;

	background-color: transparent;

	border-bottom: 32px solid #fafafa;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;

	-moz-box-shadow: inset 0px 0px 0px 20px #666666;
	-webkit-box-shadow: inset 0px 0px 0px 20px #666666;
	box-shadow: inset 10px 10px 10px 0px #222;

}

.postcontent_pixel{

	position: relative;
	z-index: 10;

	width:100%;
	margin: 0 auto;

	color:#8f8f8f;
	font-weight:300;

}

.post .postcontent_pixel{

	width:90%;
	
}

.postcontent_pixel img{

	width:100%;

}

pre{

	background-color: #f5f5f5;

	padding: 1em;

}

blockquote{

	background-color: #fafafa;

	padding: 0.5em 2em 0.5em 2em;

	border-left: 3px solid #1abc9c;

}

.post p a{

	color:#1abc9c;

	text-decoration: underline;

	-webkit-transition: color ease 0.3s;
	-moz-transition: color ease 0.3s;
	-o-transition: color ease 0.3s;
	transition: color ease 0.3s;

}

.post p a:hover{

	color: #3d3d3d;
	
}

.posttags_pixel{

	width:90%;
	margin: 0 auto;

	margin-bottom:1em;

	color: #e0e0e0;

}

.postfooter_pixel{

	display: table;

	width: 66.67%;

	float: left;

	margin-top: 2em;

}

.postfooter_pixel address{

	position: relative;

	float:left;

	width:50%;
	min-height:50px;

	padding-bottom:0.5em; 
	margin:0 auto;

	background-color: #f5f5f5;
	border-bottom: 1px solid #e0e0e0;

	text-align: center;
	overflow: hidden;

	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #ffffff;

}

.authorimage_pixel img{

	position: absolute;
	top:0;
	left:0;

	opacity: 0.6;

	z-index: 1;

	height:100%;
	width:100%;

}

.authorname_pixel{

	position: relative;
	z-index: 10;

	color: #3d3d3d;

	font-size: 2em;

	margin-bottom: 0.2em;
	margin-top: 0.8em;

	text-shadow: 0px 1px 0px #ffffff;

}

.postfooter_pixel address .footer_header{

	z-index: 10;

	color: #afafaf;

	text-shadow: 0px 1px 0px #ffffff;

}

.authorwebsite_pixel a{

	position: relative;
	z-index: 10;

	color: #1abc9c;
	padding-bottom: 1em;

	font-size: 0.9em;

	-webkit-transition: color ease 0.3s;
	-moz-transition: color ease 0.3s;
	-o-transition: color ease 0.3s;
	transition: color ease 0.3s;

}

.authorwebsite_pixel a:hover{

	color: #3d3d3d;
	
}

.authorbio_pixel{

	position: relative;

	float:left;

	width:50%;
	min-height:50px;

	margin:0em auto 0em auto;

	padding:1em;

	text-align: center;

	background-color: #ffffff;
	border-bottom: 1px solid #e0e0e0;

}

.authorbio_pixel p{

	color:#afafaf;

	font-size: 0.9em;

}

.footer_header{

	position: absolute;
	top:-0.5em;
	left:1em;

	color: #afafaf;

}

.sharepost_pixel{

	position: relative;

	float: left;

	width:33.334%;

	margin:0 auto;
	margin-top: 2em;
	padding:3em 1em 1em 1em;

	text-align: center;

	background-color: #f5f5f5;
	border-bottom: 1px solid #e0e0e0;
	
}

.sharepost_pixel.big{

	width: 100%;

	padding-bottom:2em;

}

.sharepost_pixel a{

	font-size:2em;

	color: #1abc9c;

	-webkit-transition: color ease 0.3s;
	-moz-transition: color ease 0.3s;
	-o-transition: color ease 0.3s;
	transition: color ease 0.3s;

}

.sharepost_pixel a:hover{

	color: #3d3d3d;
	
}

.share_pixel{

	margin-top:1em;

}